@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;

600&display=swap);
@charset "UTF-8";
@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Bold.woff2") format("woff2"), url("../fonts/SFProText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"), url("../fonts/SFProText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Semibold.woff2") format("woff2"), url("../fonts/SFProText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary: #0a9396 // Site main color - (Основний колір сайту);
  --secondary: #94d2bd // Site secondary color - (Додатковий колір сайту);
  --accent: #0090c1 // Site accent color - (Наприклад: кнопки дії, заголовки, посилання);
  --inverse: #ffff3f // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом);
  --bg-primary: #242423 // BG primary background color - (Основний фоновий колір сайту);
  --bg-secondary: #7678ed // BG secondary background color - (Додатковий фоновий колір сайту);
  --bg-accent: #4cc9f0 // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.;
  --bg-inverse: #2d00f7 // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.;
  --text-primary: #fbfffe // Text primary text color - (Основний текстовий колір сайту);
  --text-secondary: #080708 // Text secondary text color - (Додатковий текстовий колір сайту);
  --text-accent: #e8eddf // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.;
  --text-inverse: #e8eddf // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "SFProText";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SFProText";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

*[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
  width: 7.5rem;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0 0 0.5rem;
  gap: 0.5rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/Common/ArrowDown.svg) no-repeat center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  width: auto;
  left: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
  z-index: 100;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 12.5rem;
}

.select .simplebar-wrapper {
  width: auto;
}

.select .simplebar-content {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0px 10px 0px;
}

._select-tag {
  cursor: pointer;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__title {
  padding-right: 24px;
}

.spollers__title img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #000;
  height: 1px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
      -ms-transform: translate(-75%, -50%) rotate(45deg);
          transform: translate(-75%, -50%) rotate(45deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-45deg);
      -ms-transform: translateX(-75%) rotate(-45deg);
          transform: translateX(-75%) rotate(-45deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid #F0F0F0;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
  overflow: visible !important;
  position: relative;
  background: #fff;
}

.spollers__body::after {
  content: "";
  background: #fff;
  border: 1px solid #F0F0F0;
  border-right: 0;
  border-bottom: 0;
  width: 0.625rem;
  height: 0.625rem;
  position: absolute;
  top: 0px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
}

.spollers__body-inner {
  overflow: hidden;
  height: 100%;
}

*[class*=-ibg] {
  position: relative;
}

*[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

*[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.dropDownMenu {
  border: 1px solid #F0F0F0;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
}

summary {
  list-style-type: none;
  cursor: pointer;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item a {
  font-family: SF Pro Text;
}

.contact__item img {
  height: 1.25rem;
  width: 1.25rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 6;
  display: none;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  gap: 4rem;
  width: 100%;
}

.header__row:first-child {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  gap: 0.9375rem;
  position: relative;
  z-index: 9;
}

.header__row:nth-child(1n+2) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  line-height: 100%;
}

.header__column:last-child {
  text-align: right;
  margin-left: auto;
}

.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
}

.header__select .select {
  width: 100%;
}

.header__select .select__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.header__average-time {
  font-weight: 600;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.menu__body-wrapper {
  display: contents;
}

.menu__body .header__link#account {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 20px;
  border-bottom: 0.0625rem solid #F0F0F0;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.menu__item_mobile {
  display: none;
}

.menu__contact {
  display: none;
  padding: 1.25rem;
  border-top: 0.0625rem solid #F0F0F0;
}

.menu .spollers {
  position: relative;
}

.menu .spollers__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
}

.menu .spollers__body {
  position: absolute;
  top: 150%;
  left: -75%;
}

.menu__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.basket {
  background: #FF7010;
  font-family: SF Pro Text;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: auto;
}

.basket__img {
  margin-right: 0.5rem;
}

.icon-menu {
  display: none;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 82.5em) {
  .header__column {
    gap: 2.5rem;
  }
}

@media (max-width: 25em) {
  .menu__logo {
    width: 2.5rem;
    overflow: hidden;
  }
}

@media (max-width: 61.99875em) {
  .header__column:last-child .header__link {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (max-width: 47.9375em) {
  .header::before {
    display: block;
    border-bottom: 0.0625rem solid #F0F0F0;
  }

  .header__row:nth-child(1n+2) {
    gap: 1rem;
  }

  .header__row {
    border-bottom: 0.0625rem solid #F0F0F0;
  }

  .header__column {
    gap: 0.9375rem;
  }

  .menu__logo {
    position: relative;
    z-index: 8;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu .spollers {
    font-size: inherit;
  }

  .menu .spollers::after {
    display: none;
  }

  .menu .spollers__body {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    padding-bottom: 0;
  }

  .menu .spollers__title {
    position: relative;
  }

  .menu-open .menu__body-wrapper {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu-open .menu__item_mobile {
    display: inline-block;
  }

  .lock .menu__body-wrapper {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }

  .lock .menu__body-wrapper .header__text#time {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    border-top: 0.0625rem solid #F0F0F0;
    color: #A5A5A5;
  }

  .menu {
    display: contents;
  }

  .menu__body-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 7.25rem;
  }

  .menu__body {
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .menu__body-scroll {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: auto;
  }

  .menu__content {
    height: 100%;
    overflow: auto;
    margin-top: 30px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    overflow: auto;
  }

  .menu__item {
    font-size: 1.25rem;
  }

  .basket {
    position: relative;
    z-index: 8;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 47.99875em) {
  .header__column:first-child {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: right;
  }

  .header__column:last-child {
    display: none;
  }

  .icon-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 9;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 47.9375em) and (max-width: 82.5em) {
@supports (gap: clamp( 0.9375rem , -1.2296564195rem  +  4.52079566vw , 2.5rem )) {
    .header__column {
      gap: clamp( 0.9375rem , -1.2296564195rem  +  4.52079566vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -1.2296564195rem  +  4.52079566vw , 2.5rem )) {
    .header__column {
      gap: calc(0.9375rem + 1.5625 * (100vw - 47.9375rem) / 34.5625);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}